<!-- Include the Header Partial -->


<div class="flex-grow container mx-auto">
    <div class="container mx-auto pb-10 md:pb-28">
        <div class="flex flex-col md:flex-row gap-5 justify-start items-start w-full px-5 md:px-0 h-full md:h-[500px]">
            <div
                class="flex-1 p-10 bg-heroBg rounded-[1.5rem] w-full flex flex-col justify-center items-start h-full md:h-[500px] text-left">
                <h6 class="font-[600] text-lg md:text-xl"> </h6>
                <h1 class="text-3xl lg:text-7xl font-[900] text-left capitalize md:w-9/12 aboutcss"
                    style="letter-spacing: -0.20rem">
                    {{contact_title}}
                </h1>
            </div>
            <div
                class="flex-1 rounded-[2.9rem] overflow-hidden h-full md:h-[500px] flex items-center justify-center w-full">
                <img src="{{contact_image}}" alt="contactbg" class="w-full h-96 md:h-full object-fill" />
            </div>
        </div>
    </div>

    <div class="container mx-auto space-y-10 px-10" id="contact-form">

        <div class="flex flex-col md:flex-row justify-between items-start gap-20 py-10">
            <div class="flex-1 order-2 md:order-1 h-full">


                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d83328.76519699681!2d79.86685591075904!3d6.930583141829487!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2590079926abb%3A0x48e1743d94b45a12!2sTech%20Cargo%20Hub%20Pvt%20Ltd!5e0!3m2!1sen!2slk!4v1721062459605!5m2!1sen!2slk"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    class="md:h-[80svh] h-96 w-[85vw] md:w-full" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="flex-1 gap-5 flex flex-col order-1 md:order-2 mx-auto">
                <div class="text-3xl md:text-5xl font-[900] text-left boldTexts">
                    Leave a message.
                </div>
                <p>
                    Discover How Our Industry-Tailored Services Drive Efficiency, Cost Savings, and Growth Across
                    Various
                    Sectors.
                </p>
                <div class="flex flex-col gap-5">
                    {{ form:contact_us }}
                    {{ if success }}
                    <div id="alert-box"
                        class="mt-5 px-4 py-3 rounded relative bg-green-100 border border-green-400 text-green-700">
                        <strong class="font-bold">Success!</strong> <span class="block sm:inline">Our Team Contact
                            Soon....</span>
                    </div>

                    {{ /if }}
                    <div class="w-full">
                        <label for="name" class="block text-lg font-semibold text-formLabel mb-2">Name</label>
                        <input type="text" name="name" value="{{ name }}"
                            class="w-full border-0 outline-none focus:outline-none focus:ring-0 focus:border-none focus:bg-gray-100 bg-formBg rounded-lg"
                            required>
                    </div>
                    <div class="flex flex-col md:flex-row gap-3 justify-between items-center">

                        <div class="w-full">
                            <label for="email" class="block text-lg font-semibold text-formLabel mb-2">Email</label>
                            <input type="email" name="email" value="{{ email }}"
                                class="w-full border-0 outline-none focus:outline-none focus:border-none focus:ring-0 focus:bg-gray-100 bg-formBg rounded-[15px] p-3"
                                required>
                        </div>


                    </div>
                    <div class="w-full">
                        <label for="tel" class="block text-lg font-semibold text-formLabel mb-2">Phone
                            Number</label>
                        <div
                            class="tel-input flex flex-row border-0 outline-none focus:outline-none focus:border-none focus:ring-0 focus:bg-gray-100 bg-formBg rounded-[15px]">
                            <select name="country_code"
                                class="border-0 outline-none focus:outline-none focus:border-none focus:ring-0 focus:bg-gray-100 bg-transparent w-40 p-3">
                                <option value="🇱🇰 SL  (  +94 )">🇱🇰 SL ( +94 )</option>
                                <option value="🇦🇫 AF  (  +93 )">🇦🇫 AF ( +93 )</option>
                                <option value="🇦🇽 AX  (  +358 )">🇦🇽 AX ( +358 )</option>
                                <option value="🇦🇱 AL  (  +355 )">🇦🇱 AL ( +355 )</option>
                                <option value=" 🇩🇿 DZ  (  +213 )">🇩🇿 DZ ( +213 )</option>
                                <option value=" 🇦🇸 AS  (  +1684 )">🇦🇸 AS ( +1684 )</option>
                                <option value="🇦🇩 AD  (  +376 )">🇦🇩 AD ( +376 )</option>
                                <option value="🇦🇴 AO  (  +244 )">🇦🇴 AO ( +244 )</option>
                                <option value=" 🇦🇮 AI  (  +1264 )">🇦🇮 AI ( +1264 )</option>
                                <option value="  🇦🇶 AQ  (  +672 )">🇦🇶 AQ ( +672 )</option>
                                <option value=" 🇦🇬 AG  (  +1268 )">🇦🇬 AG ( +1268 )</option>
                                <option value="🇦🇷 AR  (  +54 )">🇦🇷 AR ( +54 )</option>
                            </select>
                            <input type="tel" name="mobile_number" value="{{ mobile_number }}"
                                class="w-full border-0 outline-none focus:outline-none focus:border-none focus:ring-0 focus:bg-gray-100 bg-formBg p-3 rounded-r-[15px]"
                                pattern="[0-9+]*" inputmode="numeric" maxlength="16" required>
                        </div>
                    </div>
                    <div class="w-full">
                        <label for="message" class="block text-lg font-semibold text-formLabel mb-2">Message</label>
                        <textarea name="message" rows="5"
                            class="w-full border-0 outline-none focus:outline-none focus:border-none focus:ring-0 focus:bg-gray-100 bg-formBg rounded-[15px] p-3"
                            required>{{ message }}</textarea>
                    </div>
                    <div class="flex md:justify-end w-full">
                        <button type="submit"
                            class="flex justify-center items-center px-10 py-4 gap-3 rounded-lg cursor-pointer text-white md:w-fit w-full text-lg font-semibold shadow-gradient capitalize"
                            style="background: linear-gradient(93.3deg, #01A68C -3.43%, #50A454 100%);">

                            <span id="spinner" class="hidden">
                                <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                        stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor"
                                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.963 7.963 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                    </path>
                                </svg>
                            </span>

                            send message
                        </button>
                    </div>

                    {{ /form:contact_us }}
                </div>

                <!-- 
           {{form:contact_us}}
           {{ if success}}
           <div class="alert alert-success" role="alert">
            This is a success alert—check it out!
          </div>
           {{ /if}}
            {{fields}}
            <label>{{display}}</label>
            {{field}}
            {{/fields}} -->
                <!-- <button type="submit">Submit</button>
            {{/form:contact_us}}  -->


                <div id="alert-box" class="hidden mt-5 px-4 py-3 rounded relative"></div>

            </div>
        </div>



        <div class="flex flex-col md:flex-row justify-center items-start gap-5 md:py-20">



            {{ if contact_info }}
            {{ contact_info }}

            <div class="w-full gap-2 p-5 bg-white rounded-2xl h-full md:h-64 cursor-pointer group hover:bg-[#F6FFF6] hover:border-highlightGreen hover:border-[1px]"
                style="box-shadow: 0px 4px 47.2px 0px #3A3A3A17;">
                <a href="{{linkfield}}">
                    <div class="w-10 ">
                        {{ if icon }}
                        <img src="{{icon}}" alt="mapIcon" class="w-10 md:w-16" />
                        {{ /if }}
                    </div>
                    <div class="text-highlightGreen capitalize ext-2xl md:text-3xl font-[900] py-2">
                        {{heading}}
                    </div>
                    <div class="text-lightgtext text-lg">
                        {{discription}}
                    </div>
                </a>
            </div>

            {{ /contact_info }}

            {{ else }}
            <p>No locations available.</p>
            {{ /if }}







        </div>

        <div class="flex flex-col justify-start items-start">
            <div class="flex flex-col justify-start items-start mb-20 gap-2 py-10">
                <div class="md:text-5xl text-3xl font-[900] capitalize boldTexts gap-1">
                    {{ quote_heading}}<span class="text-highlightGreen">.</span>
                </div>
                <p class="text-lightText my-5 text-lg">
                    {{quote_discription}}
                </p>
                <div class="mt-5">
                    <a href="/calculator">
                        <div class="flex justify-center items-center px-10 py-2.5 gap-3 rounded-lg cursor-pointer text-white 
    text-lg font-semibold  md:w-fit w-full" style="background: linear-gradient(93.3deg, #01A68C -3.43%, #50A454 100%);
    ">

                            <img src="/assets/images/quote.png" alt="facebook" class="w-7 h-7" />
                            {{quote_button}}

                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <script>




        document.getElementById('tel').addEventListener('input', function (e) {
            this.value = this.value.replace(/[^\d+]/g, '');

            if (this.value.indexOf('+') > 0) {
                this.value = this.value.replace(/\+/g, '');
            }
            if (this.value.indexOf('+') > -1) {
                this.value = '+' + this.value.replace(/\+/g, '');
            }

            if (this.value.length > 16) {
                this.value = this.value.slice(0, 16);
            }
        });

        document.getElementById('contactForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var submitButton = document.getElementById('submitButton');

            var spinner = document.getElementById('spinner');
            var alertBox = document.getElementById('alert-box');


            spinner.classList.remove('hidden');
            submitButton.setAttribute('disabled', 'true');

            var formData = new FormData(this);
            var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            fetch('contact-submit.html', {
                method: 'POST',
                headers: {
                    'X-CSRF-TOKEN': csrfToken,
                },
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(error => {
                            throw new Error(error.message || 'Server error');
                        });
                    }
                    return response.json();
                }).then(data => {
                    if (data.success) {
                        alertBox.classList.remove('hidden');
                        alertBox.classList.add('bg-green-100', 'border', 'border-green-400', 'text-green-700');
                        alertBox.innerHTML =
                            '<strong class="font-bold">Success!</strong> <span class="block sm:inline">' + data
                                .message + '</span>';
                    } else {
                        alertBox.classList.remove('hidden');
                        alertBox.classList.add('bg-red-100', 'border', 'border-red-400', 'text-red-700');
                        alertBox.innerHTML =
                            '<strong class="font-bold">Error!</strong> <span class="block sm:inline">' + data
                                .message + '</span>';
                    }

                    setTimeout(function () {
                        document.getElementById('contactForm').reset();
                        alertBox.classList.add('hidden');
                    }, 1500);

                })
                .catch(error => {
                    alertBox.classList.remove('hidden');
                    alertBox.classList.add('bg-red-100', 'border', 'border-red-400', 'text-red-700');
                    alertBox.innerHTML =
                        '<strong class="font-bold">Error!</strong> <span class="block sm:inline">' + error
                            .message + '</span>';
                })
                .finally(() => {
                    spinner.classList.add('hidden');
                    submitButton.removeAttribute('disabled');
                });
        });
    </script>

</div>
-->