<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- changed {{site:name}} to Tech Cargo Hub -->
    <!-- <title>{{ if title }}{{ title }} - {{ /if }}{{ site:name }}</title> -->
    <title>{{ if title }}{{ title }} - {{ /if }}Tech Cargo Hub</title>

    <!-- Legacy Styles from Header -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/assets/css/owl.theme.green.min.css" />
    <link rel="stylesheet" href="/assets/css/toastr.min.css">
    <link rel="stylesheet" href="/assets/css/app-45b68f9a.css" />

    <!-- Fonts -->
    <link href="https://fonts.bunny.net/css2?family=Nunito:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">

    <!-- React / Vite සඳහා -->
    <script type="module">
        import RefreshRuntime from 'http://127.0.0.1:5173/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => { }
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>

    {{ vite src="resources/css/tailwind.css|resources/js/site.js" }}

    <!-- JQuery (Legacy) -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/toastr.min.js"></script>

    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '656439483891293');
        fbq('track', 'PageView');
    </script>
</head>

<body class="antialiased flex flex-col min-h-svh mx-auto font-['Poppins']" style="background-image: url('/assets/images/bg.png'); 
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               position: relative;">

    {{ partial:header }}

    {{ template_content }}

    {{ partial:footer }}

    <!--Floating WhatsApp Button -->
    <div class="fixed right-6 top-1/2 -translate-y-1/2 z-[999999]">
        <a href="https://wa.me/" target="_blank" rel="noopener noreferrer" aria-label="Chat with us on WhatsApp"
            class="flex h-16 w-16 items-center justify-center rounded-full bg-[#25D366] text-white shadow-[0_4px_14px_0_rgba(37,211,102,0.39)] transition-all duration-300 hover:-translate-y-1 hover:scale-110 hover:shadow-[0_6px_20px_rgba(37,211,102,0.5)] focus:outline-none focus:ring-4 focus:ring-[#25D366]/50">
            <img src="https://lh3.googleusercontent.com/d/1P_AU9CslZ2dMyrWmanFO7dQh9ynUywDa" alt="WhatsApp"
                class="w-20 h-20 object-contain block" />
        </a>
    </div>
</body>

</html>